div#menu 
{background-color:#ffff99; height:200px; width:100px; float:left;}



div#container
{
 height:700px; 
 width:500px;
border:2px solid;
border-radius:25px;
-moz-border-radius:25px; /* Old Firefox */
box-shadow: 10px 10px 5px #888888;
float:left;
}
